.Section {
    width: 100%;
    height: auto;
    scroll-margin-top: 60px;
}

.Section .Heading {
    margin: 0 0 2rem 0;
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.ContentWrapper  {
    width: 100%;
    height: 100%;
    max-width: var(--page-width);
    margin: 0 auto 8rem auto;
    padding: var(--page-padding);
}